body {
    margin: 0;
    padding: 0;
    background: url('images/hearts-background.jpeg') repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    overflow-y: auto;
    height: 100vh;
}

.overlay {
    background: rgba(199, 21, 133, 0.7); /* Dark pink with transparency */
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bubble-container {
    flex-grow: 1; /* Make the container take up remaining space in the body */
    overflow-y: auto; /* Enable vertical scrolling within the container */
    width: 100%;
    padding: 20px 0; /* Space around the bubbles */
    box-sizing: border-box; /* Ensure padding doesn't affect layout calculations */
}

.bubble {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
}

.overlay img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
